naitik_mini/logs
naitik_mini/*.log
naitik_mini/npm-debug.log*
naitik_mini/yarn-debug.log*
naitik_mini/yarn-error.log*
naitik_mini/pnpm-debug.log*
naitik_mini/lerna-debug.log*
naitik_mini/node_modules
naitik_mini/dist
naitik_mini/dist-ssr
naitik_mini/*.local

admin/node_modules
admin/.pnp
admin/.pnp.js
admin/coverage
admin/build

scrapers/__pycache__

scrapers/naitikdata.txt
scrapers/z.txt
scrapers/.env


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dark.db